.cards01{
    justify-content: center !important;
    text-align: center !important;
    display: flex !important;
}
body{
    background-image: url(https://lastfm.freetls.fastly.net/i/u/770x0/355979d102333364d2d433ce7180731d.jpg) !important;
    background-position: center;
    background-repeat: inherit;
   
}
h1 {
    color: #f5f5f5 !important;
    text-align: center;
}
h2{
font-size: medium !important;
color: #f3f3f3 !important;
text-align: justify;
background-color: #0201235b;
}


